@import 'modern-normalize/modern-normalize.css';

body {
    border: 2px solid red;
    height: 100vh;
    width: 100vw;
    padding: 10%;
}

h1 {
}


.mainDiv {
    width: 100%;
    height: 100%;
    border: 2px solid green;
    display: flex;
    text-align: center;
    flex-direction: column;

}



.buttonsImageCarousel {
    height: 20px;
    width: 20px;
}

.imageLocation {
    display:flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.arrowLeft {
    background-image: url(/assets/arrow-left.svg);
    background-color: white;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
}

.arrowRight {
    background-image: url(/assets/arrow-right.svg);
    background-color: white;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
}



.navigation {
    display: flex;
    align-self: center;
    gap: 20px;
}

.navigationDots {
    border-radius: 100%;
    border: none;
    background-color: rgba(192, 191, 191, 0.582);
}

.images {
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
}

.imgReelContainer {
    padding: 3%;
    display: flex;
    flex-grow: 1;

}


.imageInCarousel {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.firstImg {
    grid-column: 1/3;
    position: absolute;
    opacity: 0.5;
    width: 80%;
    height: 80%;

}

.secondImg{
    grid-column: 2/4;
    position: absolute;
    opacity: 1;
    z-index: 9;
}

.thirdImg{
    grid-column: 3/5;
    position: absolute;
    justify-self: end;
    opacity: 0.5;
    width: 80%;
    height: 80%;

}

